# Lists

### Lists are basically a collection of element (Arrays). Indexing of the element starts from 0 to n-1 (n is the length of the list). We can access each element with their corresponding index

### Lists are dynamic in size

In [2]:
a = [1,2,3]
type(a)

list

In [4]:
a[2]

3

### Lists are mutable unlike string, we can modify an element in a list

In [5]:
a[2]=100
a

[1, 2, 100]

### Unlike C++ and Java we dont specify any type and size for a list.

### We can store any type of data like string and int type of elements in a single list.

In [8]:
a = [1,"abc",True]
a

[1, 'abc', True]

In [11]:
a[0]="efg"
a

['efg', 'abc', True]

In [15]:
a = [[1,2,3], "abc" , False]
a

[[1, 2, 3], 'abc', False]

In [22]:
a=list("hello")
a

['h', 'e', 'l', 'l', 'o']

### Another Syntax to create lists

In [20]:
a = [i for i in range(10)]
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [23]:
a = [i*i for i in range(10)]
a

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

## Lists Inbuilt Functions

In [24]:
a = [1,2,3,4]
len(a)

4

In [27]:
b = [5,6,7,8]

### Concatenation of two arrays

In [43]:
# a new list is being created a and b are not modified
a = [1,2,3,4]
b = [5,6,7,8]
c = a + b
c

[1, 2, 3, 4, 5, 6, 7, 8]

In [44]:
# Here a is concatenated 3 times
d = a * 3
d

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

### Add Data

In [45]:
print(a)
# add data to the end of the list
a.append(6)
a

[1, 2, 3, 4]

[1, 2, 3, 4, 6]

In [46]:
print(a)
# add data to specific index
a.insert(0,3)
a

[1, 2, 3, 4, 6]

[3, 1, 2, 3, 4, 6]

In [47]:
print(a)
# here b is concatenated to list a (no new list is being created)
a.extend(b)
a

[3, 1, 2, 3, 4, 6]

[3, 1, 2, 3, 4, 6, 5, 6, 7, 8]

### Delete Data

In [48]:
print(a)
# removes the first occurence of number 5 from the list a (not the number at index 5)
a.remove(5)
a

[3, 1, 2, 3, 4, 6, 5, 6, 7, 8]

[3, 1, 2, 3, 4, 6, 6, 7, 8]

In [50]:
print(a)
# removes element at particular index
print(a.pop(0))
a

[1, 2, 3, 4, 6, 6, 7, 8]
1

[2, 3, 4, 6, 6, 7, 8]

In [73]:
aList = [123, 'xyz', 'zara', 'abc'];
print(aList.pop())

abc

In [55]:
print(a)
# doesnt not return the delete element as pop do return
del a[2]
a

[2, 3, 4, 6]

[2, 3, 6]

### Other Basic functions

In [64]:
# inorder to sort a list all the elements in the list should be of same data type
a = [5,4,3,2,1]
a.sort()
a

[1, 2, 3, 4, 5]

In [60]:
# inorder to find max of a list all the elements in the list should be of same data type
max(a)

5

In [65]:
a = [0,1,2,"abc"]
max(a)

TypeError: '>' not supported between instances of 'str' and 'int'

In [74]:
a = [5,3,1,7,3]
# gives the index of nuumber 7 in the list
print(a.index(7))

3

## Output And Taking Input

In [75]:
a = [1,2,3,4,5]
for i in range(len(a)):
    print(a[i])

1
2
3
4
5

In [77]:
# input format
# size
# elements one after the other
# Ex. 5(size)
# 1
# 2 
# 3
# 4
# 5
s=int(input())
a=[]
for i in range(s):
    a.append(int(input()))
a

5
5
4
3
2
1

[5, 4, 3, 2, 1]

In [83]:
# here no size is taken from the user
# input is in a single line like 1 2 3 4 5
line = input()
l=line.split()
a=[]
for ch in l:
    a.append(int(ch))
print(a)

1 2 3 4 5
[1, 2, 3, 4, 5]

In [85]:
# easy syntax for the above
a=[int(s) for s in input().split()]
print(a)

1 2 3 4 5
[1, 2, 3, 4, 5]

## List Slicing

### Slicing does change the original string but return a new list

In [86]:
a=[1,2,3,4,5,6,"abc","def"]

In [88]:
# return elements ranging from 0 to 4-1 (3)
a[0:4]

[1, 2, 3, 4]

In [89]:
a[3:]

[4, 5, 6, 'abc', 'def']

In [91]:
a[:5]

[1, 2, 3, 4, 5]

In [92]:
# here the default start value will be the ending index and goes back till index 3
a[:3:-1]

['def', 'abc', 6, 5]

In [96]:
# return reverse of list
a[::-1]

['def', 'abc', 6, 5, 4, 3, 2, 1]

### Reverse function reverses the original list itself doesn't return a new list

In [99]:
a.reverse()
print(a)

['def', 'abc', 6, 5, 4, 3, 2, 1]

# Multidimensional Lists

In [100]:
a=[[1,2,3],[4,5,6]]

In [103]:
a

[[1, 2, 3], [4, 5, 6]]

In [104]:
a[0]

[1, 2, 3]

In [105]:
a[0][1]

2

In [106]:
len(a)

2

In [107]:
len(a[0])

3

## Input

In [109]:
sizes=input().split()
m=int(sizes[0])
n=int(sizes[1])
l=[]
for i in range(m):
    next_row=[int(i) for i in input().split()]
    l.append(next_row)
    
print(l)

3 3
1 2 3
4 5 6
7 8 9
[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [110]:
sizes=input().split()
m=int(sizes[0])
n=int(sizes[1])
l=[]
for i in range(m):
    next_row=[]
    for j in range(n):
        next_row.append(int(input()))
    l.append(next_row)
print(l)

3 4
1
2
3
4
5
6
7
8
9
10
11
12
[[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]]

In [112]:
sizes=input().split()
m=int(sizes[0])
n=int(sizes[1])
l_1D=[int(i) for i in input().split()]
l=[]
for i in range(m):
    start_index=n*i
    end_index=n*(i+1)
    next_row=l_1D[start_index:end_index]
    l.append(next_row)
print(l)

3 4
1 2 3 4 5 6 7 8 9 10 11 12
[[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]]

In [115]:
a=[[j for j in range(5)] for i in range(5)]
a

[[0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4]]

### 2D Lists Slicing

In [119]:
a=[[1,2,3,4],[5,6,7,8],[9,10,11,12],[13,14,15,16]]
print(a)

[[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12], [13, 14, 15, 16]]

In [120]:
a[1:3]

[[5, 6, 7, 8], [9, 10, 11, 12]]

In [125]:
a[0:2][0]

[1, 2, 3, 4]

In [127]:
# They only create a copy on the 0th level. That's called shallow copy. The elements of a nested element are copied by reference.
a = [10,23,56,[78]]
b = list(a)
a[3][0] = 95
a[1] = 34
print(b)

[10, 23, 56, [95]]