# Strings

In [4]:
a="abc def"
print(a)

abc def

### Since variable a is a sequence we can iterate over a without a range function

In [2]:
for i in a:
    print(i)

a
b
c

d
e
f

### Strings are immutable (Not the variable, we can reassign the variable with a new string) , you cannot changed once it is created

In [3]:
a[1]='z'

TypeError: 'str' object does not support item assignment

## Strings inbuilt Functions

In [6]:
a="This is Manish's pen.He said "Life is great"
print(a)

SyntaxError: invalid syntax (857588861.py, line 1)

### If we want to use a double qoutes inside a string we can use it using escaping(\)

In [10]:
a="This is Manish's pen.He said \"Life is great\""
print(a)

This is Manish's pen.He said "Life is great"

### Concatination of Strings

In [12]:
a="This is Manish's pen. "
b="He said \"Life is Great\""
c=a+b
print(c)

This is Manish's pen. He said "Life is Great"

### We cannot concat a string with an integer.

In [45]:
a+12

TypeError: can only concatenate str (not "int") to str

## Comparisions

In [13]:
a==b

False

In [16]:
# compares lexicographically
a>b

True

## Split Function
### Split function splits the string into list of strings seperated by the specified delimiter (by default the delimiter is white space)

In [25]:
a="This is a str"
b=a.split()
print(b,type(b))

['This', 'is', 'a', 'str'] <class 'list'>

## Replace Function

It returns a new replaced string but doesn't change the original one's.

In [27]:
a="This is a str"
b=a.replace("is","are")
print(a)
print(b)

This is a str
Thare are a str

In [40]:
# Finds whether a string is present is a string or not
a.find("is")

2

In [38]:
# converts to lower and return it
a.lower()

'this is a str'

In [39]:
# converts a to upper case and return it
a.upper()

'THIS IS A STR'

### isapha() function check whether the strings contains all alphabets or not

In [37]:
a.isalpha()

False

In [46]:
# checks whether the string starts with a specific string or not
a.startswith("This")

True

## String Slicing

In [47]:
a="This is Slicing"

In [49]:
# goes to the 2 index string (is) then from there it will go till 10-1 indexed character
a[2:10]

'is is Sl'

In [58]:
# goes till the end if dont specify any end point
a[2:]

'is is Slicing'

In [65]:
# starts from 0 if we dont give any starting point
a[:5]

'This '

In [67]:
# replace first occurance of 'x' with 'y'
s=input()
pos=s.find('x')
ans=s
if (pos!=-1):
    ans=s[:pos]+'y'+s[pos+1:]

print(ans)

adbbxser
adbbyser

In [89]:
#replace all occurances of 'x' with 'y'
s=input()
ans=s
for i in range(0,len(s)):
    if(ans[i]=='x'):
        ans=ans[:i]+'y'+ans[i+1:]
    
print(ans)

abcxsdfxxsxfx
abcysdfyysyfy