# Tuples

### These are similar to lists.

In [2]:
# to create lists
a=[1,2,3]

# to create tuple
b=(1,2,3)

print(a,b)

[1, 2, 3] (1, 2, 3)

In [3]:
# by default python will consider this as tuple
e=1,2
print(e)
print(type(e))

(1, 2)
<class 'tuple'>

### Difference between tuple and a list is tuples are immutable (we cannot change elements inside the tuple) .List are mutable.

In [8]:
e[1]=3

TypeError: 'tuple' object does not support item assignment

In [9]:
del e[1]

TypeError: 'tuple' object doesn't support item deletion

In [10]:
a=1,2,3,4,5
for i in a:
    print(i)

1
2
3
4
5

In [11]:
# to check whether an element is present in a tuple or not
1 in a

True

In [12]:
9 in a

False

In [17]:
# concatenation
b = 7,8,9,10
c = a + b
print(c)

(1, 2, 3, 4, 5, 7, 8, 9, 10)

In [16]:
# tuples of tuples
c = (a,b)
print(c)

((1, 2, 3, 4, 5), (7, 8, 9, 10))

In [18]:
# if we need tuple to be copied 4 times in a variable
e = a*4
print(e)

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

### We can use min and max functions only when all the elements are of the same type

In [19]:
min(a)

1

In [21]:
max(a)

5

In [23]:
# list to tuple
l=[1,2,3,4,5]
z=tuple(l)
print(z)

(1, 2, 3, 4, 5)

### Passing dynamic arguements to a function

In [24]:
def sum(a,b,*more):
    print(a)
    print(b)
    print(more) # this will store all the values

In [25]:
sum(1,2,3,4,5)

1
2
(3, 4, 5)

In [26]:
def sum(a,b,*more):
    ans=a+b
    for i in more:
        ans+=i
    return ans

In [27]:
sum(1,2,3,4,5)

15

### We can return multiple values from a function

In [28]:
def sum_diff(a,b):
    return a+b,a-b

In [29]:
c=sum_diff(6,3)
print(c)

(9, 3)

In [30]:
# another syntax to take multiplue output from a function
d,e=sum_diff(7,5)
print(d)
print(e)

12
2